# Object file
*.o

# Java
*.class
*.classpath


#Project
*.project

#Eclipse

/.settings/
/target/
Acme-BnB/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-BnB/pom.properties
Acme-BnB/target/m2e-wtp/web-resources/META-INF/maven/Design-and-Testing/Acme-BnB/pom.xml
